@model StudentViewModel

@{
    ViewData["Title"] = "Edit Student";
}

<h2>Edit Student</h2>

<form method="post">
    @Html.HiddenFor(m => m.StudentInfo.Id, new { @class = "form-control", @readonly = "readonly" })
    <br />

    <partial name="_StudentFormFields" model="Model" />
    <br />
</form>