@model IEnumerable<StudentViewModel>

@{
    ViewData["Title"] = "Home";
}

<style>
    table,
    th,
    td{
        border: 1px solid black;
        border-collapse: collapse;
    }
</style>

<h1>All Students: </h1>

<form action="@Url.ActionLink("Edit")">
    <table border="1" cellpadding="10" cellspacing="10" id="student-table">
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Email</th>
            <th>Courses</th>
            <th>Is Top Student</th>
            <th>Edit</th>
        </tr>
    
        @foreach (var student in Model)
        {
            Html.RenderPartial("_StudentCard", student);
        }
    </table>
</form>

<br />
<hr />
<br />

<h2>Filter Students:</h2>

<div>
    <label for="courseFilter">Select Course:</label>
    <select id="course-filter" name="course-filter">
        <option value="">--Select Course</option>
        <option value="Web Development">Web Development</option>
        <option value="Physics">Physics</option>
        <option value="English">English</option>
        <option value="Computer Science">Computer Science</option>
        <option value="Physical Education">Physical Education</option>
        <option value="Art">Art</option>
        <option value="History">History</option>
        <option value="Science">Science</option>
        <option value="Math">Math</option>
    </select>
</div>

<br />

<form action="@Url.ActionLink("Edit")">
    <table border="1" cellpadding="10" cellspacing="10" id="filtered-table"></table>
</form>

<script src="~/js/filter.js"></script>