@model Dish

@{
    ViewData["Title"] = "Dish Details";
}

<div class="container">
    <div class="d-flex justify-content-center">
        <h4>@Model.Name</h4>
    </div>
    <div>
        <img src="@Model.ImageUrl" width="100" height="100" />
    </div>
    <div>
        $@Model.Price.ToString("N2")
    </div>
    <div>
        Ingredients:
        <ul>
            @foreach (var ingredient in Model.DicshIngredients)
            {
                <li>@ingredient.Ingredient.Name</li>
            }
        </ul>
    </div>
</div>